.container{
    background-color: burlywood;
}
.box{
    border: 1px solid;
    background-color: white;
}
.box-highlight{
    color: blue;
}
.list-item{
    color: green;
}
.ivi{
    margin: 10px;
}
.goat{
    color: red;
}